.contact-form
  max-width 540px
  center-block()
  width 90%
  margin-top remify(40)
  margin-bottom remify(86)
  text-align center

  .site-input
    font-size 16px

  .site-button
    margin-top remify(103)
    font-size remify(13.6)
    padding 1.05em 3.4em 1em 3.4em