.contact-form
  max-width 540px
  center-block()
  width 90%
  margin-top remify(40)
  margin-bottom remify(86)
  text-align center
  font-size 16px

  .site-button
    margin-top remify(103)
    font-size 13px
    padding 1.05em 3.4em 1em 3.4em

@media screen and (max-width: 767px)
  .contact-form
    font-size 14px