.about__cover
  background-image url('../img/backgrounds/about.jpg')
  height calc(85vh - 72px)
  max-height 400px

  @media screen and (orientation: portrait)
    @media screen and (max-width: 450px)
      max-height 76vw

.about__content
  padding-bottom remify(65)

.about__text
  color #4a4a4a
  font-size 15px
  center-block()
  margin-top remify(34)
  line-height 1.2
  width 84%
  max-width 704px

  p
    margin 0

    &:not(:first-child)
      margin-top 1.5em

@media screen and (max-width: 767px)
  .about__text
    font-size remify(18)