{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Contacto
{% endblock %}

{% block content %}
<h1 class="section-title main-title">Contacto</h1>
<form id="contact-form" class="contact-form" action="." method="post">
  <div class="inputs-row">
    <div class="input-wrapper input-wrapper--material">
      <label class="input-label input-label--material" for="contact-form-name">Nombre(s)</label>
      <input id="contact-form-name" class="site-input site-input--material" type="text" name="name" required>
    </div>
    <div class="input-wrapper input-wrapper--material">
      <label class="input-label input-label--material" for="contact-form-surname">Apellidos</label>
      <input id="contact-form-surname" class="site-input site-input--material" type="text" name="surname" required>
    </div>
  </div>
  <div class="inputs-row">
    <div class="input-wrapper input-wrapper--material">
      <label class="input-label input-label--material" for="contact-form-email">Correo electrónico</label>
      <input id="contact-form-email" class="site-input site-input--material" type="email" name="email" required>
    </div>
    <div class="input-wrapper input-wrapper--material">
      <label class="input-label input-label--material" for="contact-form-phone">Teléfono (opcional)</label>
      <input id="contact-form-phone" class="site-input site-input--material" type="tel" name="phone">
    </div>
  </div>
  <div class="input-wrapper input-wrapper--material">
    <label class="input-label input-label--material" for="contact-form-message">Mensaje</label>
    <textarea id="contact-form-message" name="message" class="site-input site-input--material" required></textarea>
  </div>
  <button class="site-button" type="submit" name="submit">Enviar</button>
</form>
{% endblock %}