{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Contacto
{% endblock %}

{% block content %}
<h1 class="section-title main-title">Contacto</h1>
<form id="contact-form" class="contact-form" action="." method="post">
  <div class="inputs-row">
    <div class="input-wrapper">
      <div class="material-div">
        <label class="input-label material-label" for="contact-form-name">Nombre(s)</label>
        <input id="contact-form-name" class="site-input material-input" type="text" name="name" required>
      </div>
    </div>
    <div class="input-wrapper">
      <div class="material-div">
        <label class="input-label material-label" for="contact-form-surname">Apellidos</label>
        <input id="contact-form-surname" class="site-input material-input" type="text" name="surname" required>
      </div>
    </div>
  </div>
  <div class="inputs-row">
    <div class="input-wrapper">
      <div class="material-div">
        <label class="input-label material-label" for="contact-form-email">Correo electrónico</label>
        <input id="contact-form-email" class="site-input material-input" type="email" name="email" required>
      </div>
    </div>
    <div class="input-wrapper">
      <div class="material-div">
        <label class="input-label material-label" for="contact-form-phone">Teléfono (opcional)</label>
        <input id="contact-form-phone" class="site-input material-input" type="tel" name="phone">
      </div>
    </div>
  </div>
  <div class="input-wrapper">
    <div class="material-div">
      <label class="input-label material-label" for="contact-form-message">Mensaje</label>
      <textarea id="contact-form-message" name="message" class="site-input material-input" required></textarea>
    </div>
  </div>
  <div class="form-message"></div>
  <div class="button-wrapper">
    <button class="site-button" type="submit" name="submit">Enviar</button>
  </div>
  <div class="loader custom-loader">
    <div class="ball-pulse-sync">
      <div class="blue"></div>
      <div class="blue"></div>
      <div class="blue"></div>
    </div>
  </div>
</form>
{% endblock %}