{% extends "partials/base.njk" %}

{% block title %}Ofrecemos una mezcla integral de coworking{% endblock %}

{% set meta_description = "Brindamos soluciones integrales creando espacios de oficina que se ajustan a tus necesidades." %}
{% set og_url = "http://workingch.com/nosotros.html" %}
{% set og_title = "Ofrecemos una mezcla integral de coworking | Working Chapultepec" %}
{% set og_description = "Brindamos soluciones integrales creando espacios de oficina que se ajustan a tus necesidades." %}
{% set og_img = "http://workingch.com/img/seo/nosotros-seo.jpg" %}
{% set og_img_width = "2546" %}
{% set og_img_height = "1210" %}

{% block content %}
<div class="about__cover cover"></div>
<section class="about__content">
  <h1 class="about__title section-title main-title">Nosotros</h1>
  <div class="about__text">
    <p>
      <span class="blue-text">Working Chapultepec</span> brinda soluciones integrales.<br>
      Creando espacios de oficina que se ajustan a tus necesidades y te permiten ser mas eficiente en tu negocio sin tener que preocuparte con las distracciones que surgen en arrendamientos convencionales.
    </p>
    <p>
      Esta comprobado que el diferencial de trabajar en un espacio fresco, ameno, y agradable en su daily living; crea un ambiente que inspira el desarrollo y maximiza el crecimiento de las empresas.
    </p>
    <p>
      <span class="blue-text">Working Chapultepec</span> ofrece una mezcla integral de coworking con la seriedad, imagen y elegancia que quieres transmitir.
    </p>
  </div>
</section>
{% endblock %}