{% extends "partials/base.njk" %}

{% block title %}Servicios{% endblock %}

{% set meta_description = "Conoce nuestros servicios." %}
{% set og_url = "http://workingch.com/servicios.html" %}
{% set og_title = "Servicios | Working Chapultepec" %}
{% set og_description = "Conoce nuestros servicios." %}
{% set og_img = "http://workingch.com/img/seo/servicios-seo.jpg" %}
{% set og_img_width = "2546" %}
{% set og_img_height = "1210" %}

{% block content %}
<h1 class="section-title main-title">Servicios</h1>
<section class="services__items">
  <article class="services__item">
    <img class="services__item-icon" src="img/icons/woman.png" alt="Servicio de secretaria" />
    <span class="services__item-text">Servicio de secretaria</span>
  </article>
  <article class="services__item">
    <img class="services__item-icon" src="img/icons/roofgarden.png" alt="Acceso a Roof Garden" />
    <span class="services__item-text">Acceso a Roof Garden</span>
  </article>
  <article class="services__item">
    <img class="services__item-icon" src="img/icons/file.png" alt="Roof para eventos" />
    <span class="services__item-text">Roof para eventos</span>
  </article>
  <article class="services__item">
    <img class="services__item-icon" src="img/icons/clock.png" alt="Acceso al edificio 24/7" />
    <span class="services__item-text">Acceso al edificio 24/7</span>
  </article>
  <article class="services__item">
    <img class="services__item-icon" src="img/icons/headphones.png" alt="Contestación telefónica personalizada" />
    <span class="services__item-text">Contestación telefónica personalizada</span>
  </article>
  <article class="services__item">
    <img class="services__item-icon" src="img/icons/desk2.png" alt="Oficinas equipadas" />
    <span class="services__item-text">Oficinas equipadas</span>
  </article>
  <article class="services__item">
    <img class="services__item-icon" src="img/icons/snacks.png" alt="Agua, café y snacks" />
    <span class="services__item-text">Agua, café y snacks</span>
  </article>
  <article class="services__item">
    <img class="services__item-icon" src="img/icons/internet.png" alt="Internet de 200mb, luz y teléfono" />
    <span class="services__item-text">Internet de 200mb, luz y teléfono</span>
  </article>
  <article class="services__item">
    <img class="services__item-icon" src="img/icons/printer.png" alt="Copias e impresiones" />
    <span class="services__item-text">Copias e impresiones</span>
  </article>
  <article class="services__item">
    <img class="services__item-icon" src="img/icons/bike.png" alt="Estacionamiento de Bicis" />
    <span class="services__item-text">Estacionamiento de Bicis</span>
  </article>
  <article class="services__item">
    <img class="services__item-icon" src="img/icons/seat2.png" alt="Sala de juntas" />
    <span class="services__item-text">Sala de juntas</span>
  </article>
  <article class="services__item">
    <img class="services__item-icon" src="img/icons/atomizer.png" alt="Mantenimiento y limpieza" />
    <span class="services__item-text">Mantenimiento y limpieza</span>
  </article>
</section>
{% endblock %}