{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Servicios
{% endblock %}

{% block content %}
<h1 class="section-title main-title">Servicios</h1>
<div class="services__items">
  <div class="services__item">
    <img class="servives__item-icon" src="img/icons/woman.png" alt="Servicio de secretaria" />
    <span class="servives__item-text">Servicio de secretaria</span>
    <img class="servives__item-icon" src="img/icons/roofgarden.png" alt="Acceso a Roof Garden" />
    <span class="servives__item-text">Acceso a Roof Garden</span>
    <img class="servives__item-icon" src="img/icons/file.png" alt="Domicilio fiscal" />
    <span class="servives__item-text">Domicilio fiscal</span>
    <img class="servives__item-icon" src="img/icons/clock.png" alt="Acceso al edificio 24/7" />
    <span class="servives__item-text">Acceso al edificio 24/7</span>
    <img class="servives__item-icon" src="img/icons/headphones.png" alt="Contestación telefónica personalizada" />
    <span class="servives__item-text">Contestación telefónica personalizada</span>
    <img class="servives__item-icon" src="img/icons/desk2.png" alt="Oficinas equipadas" />
    <span class="servives__item-text">Oficinas equipadas</span>
    <img class="servives__item-icon" src="img/icons/snacks.png" alt="Agua, café y snacks" />
    <span class="servives__item-text">Agua, café y snacks</span>
    <img class="servives__item-icon" src="img/icons/internet.png" alt="Internet de 200mb, luz y teléfono" />
    <span class="servives__item-text">Internet de 200mb, luz y teléfono</span>
    <img class="servives__item-icon" src="img/icons/printer.png" alt="Copias e impresiones" />
    <span class="servives__item-text">Copias e impresiones</span>
    <img class="servives__item-icon" src="img/icons/bike.png" alt="Estacionamiento de Bicis" />
    <span class="servives__item-text">Estacionamiento de Bicis</span>
    <img class="servives__item-icon" src="img/icons/seat2.png" alt="Sala de juntas" />
    <span class="servives__item-text">Sala de juntas</span>
    <img class="servives__item-icon" src="img/icons/atomizer.png" alt="Mantenimiento y limpieza" />
    <span class="servives__item-text">Mantenimiento y limpieza</span>
  </div>
</div>
{% endblock %}