{% extends "partials/base.njk" %}

{% block title %}Ubicaciones{% endblock %}

{% set meta_description = "Esta comprobado que el diferencial de trabajar en un espacio fresco, ameno, y agradable en su daily living; crea un ambiente que inspira el desarrollo y maximiza el crecimiento de las empresas." %}
{% set og_url = "http://workingch.com/ubicaciones.html" %}
{% set og_title = "Ubicaciones | Working Chapultepec" %}
{% set og_description = "Esta comprobado que el diferencial de trabajar en un espacio fresco, ameno, y agradable en su daily living; crea un ambiente que inspira el desarrollo y maximiza el crecimiento de las empresas." %}
{% set og_img = "http://workingch.com/img/seo/ubicaciones-seo.jpg" %}
{% set og_img_width = "2880" %}
{% set og_img_height = "1060" %}

{% block content %}
<section class="locations">
  <section class="locations-cover">
    <div class="locations-cover-card">
        <h1 class="locations-title">Nuestras Ubicaciones</h1>
        <div class="locations-content">
          <div class="locations-info-container">
            <h2 class="locations-subtitle">Working Chapultepec</h2>
            <p class="locations-desc">Trabaja en el piso más alto de Av. Chapultepec con la mejor vista  al Castillo y al Bosque que jamás pudiste imaginar. Metro Sevilla a menos de 20 m2 del edificio. Excelente conectividad de transporte Público, ROOF de Eventos, Estación de ecobici.</p>
            <span class="locations-pin"><img src="img/icons/pin-azul.png" alt="Pin de color azul">Av. Chapultepec 480. Roma Norte. CDMX.</span>
          </div>
          <div class="chapultepec-carousel owl-carousel">
            <div class="locations-carousel-img chapultepec-1"></div>
            <div class="locations-carousel-img chapultepec-2"></div>
            <div class="locations-carousel-img chapultepec-3"></div>
            <div class="locations-carousel-img chapultepec-4"></div>
            <div class="locations-carousel-img chapultepec-5"></div>
            <div class="locations-carousel-img chapultepec-6"></div>
          </div>
        </div>
    </div>
  </section>
  <div class="iframeLocations iframeChapultepec">
    <iframe src="https://tourmake.it/es/tour/62e051d97a2d58510718db07660c0443" webkitAllowFullScreen mozallowfullscreen allowFullScreen style="border: none; width: 800px; height: 600px;" allow="gyroscope; accelerometer; vr"></iframe>
  </div>

  <section class="locations-cibeles">
    <div class="locations-content">
      <div class="chapultepec-carousel owl-carousel">
        <div class="locations-carousel-img cibeles-1"></div>
        <div class="locations-carousel-img cibeles-2"></div>
        <div class="locations-carousel-img cibeles-3"></div>
        <div class="locations-carousel-img cibeles-4"></div>
        <div class="locations-carousel-img cibeles-5"></div>
        <div class="locations-carousel-img cibeles-6"></div>
      </div>
      <div class="locations-info-container">
        <h2 class="locations-subtitle">Working Cibeles</h2>
        <p class="locations-desc">A solo  2 calles de la Glorieta de Cibeles, Edificio Boutique de 4 niveles, + ROOF para eventos, PET FRIENDLY  Parking dentro del Edificio, estación de Ecobici a 3 calles de Paseo de la Reforma e Insurgentes.</p>
        <span class="locations-pin"><img src="img/icons/pin-azul.png" alt="Pin de color azul">Puebla 237 Col. Roma Norte. Delegación Cuauhtémoc CP. 06700, CDMX.</span>
      </div>
    </div>
    <div class="iframeLocations iframeCibeles">
      <iframe src="https://tourmake.it/es/tour/56402bd56aed6b458cbedaae0160cd8c" webkitAllowFullScreen mozallowfullscreen allowFullScreen style="border: none; width: 800px; height: 600px;" allow="gyroscope; accelerometer; vr"></iframe>
    </div>
  </section>

  <section class="locations-colima">
    <div class="locations-content">
      <div class="locations-info-container">
        <h2 class="locations-subtitle">Working Colima</h2>
        <p class="locations-desc">Te gustaría trabajar en una oficina con balcón privado, a una cuadra del parque Río de Janeiro en una de las  esquina más hot de la Roma Norte, entonces Working Colima es para ti.<br>Además, si el tema Gourmet o la vida nocturna también te llama, caminemos una cuadra para llegar a la Av. Álvaro Obregón, pet friendly, edificio Boutique y balcones all over, son algunas de las ventajas que este inmueble tiene para ofrecerte.</p>
        <span class="locations-pin"><img src="img/icons/pin-azul.png" alt="Pin de color azul">Colima 161 Col. Roma Norte. Delegación Cuauhtémoc CP.06700, CDMX.</span>
      </div>
      <div class="chapultepec-carousel owl-carousel">
        <div class="locations-carousel-img colima-2"></div>
        <div class="locations-carousel-img colima-1"></div>
      </div>
    </div>
  </section>
  
</section>
{% endblock %}