<footer class="cover">
  <div class="footer-inner">
    <a href="/" class="footer-logo"><img src="img/logos/logo.png" alt="Logo" /></a>
    <div class="footer-inner__content">
      <div class="footer-inner__links">
        <a href="servicios.html" class="footer-inner__link-item">Servicios</a>
        <a href="precios.html" class="footer-inner__link-item">Precios</a>
        <a href="nosotros.html" class="footer-inner__link-item">Nosotros</a>
        <a href="contacto.html" class="footer-inner__link-item">Contacto</a>
        <a href="partnership.html" class="footer-inner__link-item">Partnership</a>
      </div>
      <div class="footer-inner__social">
        <a href="https://facebook.com/WorkingChapultepec/" target="_blank" class="footer-inner__social-item">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/workingch/" target="_blank" class="footer-inner__social-item">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="https://twitter.com/Workingch_" target="_blank" class="footer-inner__social-item">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
      <div class="footer-inner__contact">
        <div class="footer-inner__contact-item">
          <i class="fa fa-phone"></i><span>75-86-66-67</span>
        </div>
        <div class="footer-inner__contact-item">
          <i class="fa fa-phone"></i><span>75-86-66-65</span>
        </div>
        <div class="footer-inner__contact-item">
          <i class="fa fa-envelope"></i><span>contacto@workingch.mx</span>
        </div>
        <div class="footer-inner__contact-schedule">
          Horarios de atención:<br>
          9:00 am a 6:00 pm
        </div>
      </div>
    </div>
  </div>
  <span class="footer-address">Av Chapultepec 480, Roma Norte, CDMX</span>
</footer>
