<footer>
  <div class="footer-inner">
    <a href="/" class="footer-logo"><img src="img/logos/logo.png" alt="Logo" /></a>
    <div class="footer-inner__content">
      <div class="footer-inner__links">
        <a href="servicios.html" class="footer-inner__link-item">Servicios</a>
        <a href="precios.html" class="footer-inner__link-item">Precios</a>
        <a href="nosotros.html" class="footer-inner__link-item">Nosotros</a>
        <a href="contacto.html" class="footer-inner__link-item">Contacto</a>
        <a href="partnership.html" class="footer-inner__link-item">Partnership</a>
      </div>
      <div class="footer-inner__social">
        <a href="#" target="_blank" class="footer-inner__social-item">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#" target="_blank" class="footer-inner__social-item">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="footer-inner__contact">
        <div class="footer-inner__contact-item">
          <i class="fa fa-whatsapp"></i><span>(55) 5532 4367</span>
        </div>
        <div class="footer-inner__contact-item">
          <i class="fa fa-envelope"></i><span>hola@workingch.mx</span>
        </div>
        <div class="footer-inner__contact-schedule">
          Horarios de atención:<br>
          8:00 am a 6:00 pm
        </div>
      </div>
    </div>
  </div>
  <span class="footer-address">Av Chapultepec 480, Roma Norte, CDMX</span>
</footer>
