*
  box-sizing border-box

html
  font-size unit($baseFontSize, 'px')

  @media screen and (max-width: 768px)
    font-size 14px

  @media screen and (max-width: 480px)
    font-size 12px

body
  font-family 'PierSans'
  font-size inherit

  .noscroll
    overflow hidden

    &::after
      content ' '
      opacity 1
      z-index 9

h1, h2, h3, h4, h5, h6
  margin 0

.sections-nav + main
  padding-top 82px

  @media screen and (max-width: 810px)
    padding-top 56px

a
  &, &:focus, &:hover, &:active
    text-decoration none

#page
  margin 0
  overflow hidden
  padding 0


// LOADERS //
.custom-loader
  display none
  text-align center
  width 100%

  .ball-pulse-sync
    div
      background $blue

.button-wrapper.disabled,
button[type="submit"][disabled]
  display none

  & + .custom-loader
    &:not(.vertical-center)
      display block

    &.vertical-center
      display flex
      height 100%
// END LOADERS //

// FORMS //
label.error
  color $errorColor
  display block
  padding-top 0.3em

.form-message
  i, span
    display inline-block

  span
    margin-left 0.5em

  &.error
    color $errorColor

  &.success
    color $successColor

  &.succes, &.error
    margin-top 1em

input, textarea, button, select
  &, &:hover, &:active &:focus
    box-shadow none
    outline none

textarea
  resize none
// END FORMS //

// MATERIAL STYLES //

.material-div
  padding remify(18) 0 0 0
  position relative

  &::after, &::before
    content " "
    position absolute
    display block
    width 100%
    height 1px
    background-color #e5e5e5
    bottom 0
    left 0
    transition all 0.3s

  &::after
    transform scaleX(0)
    background-color $blue

  &.is-active::after
    transform scaleX(1)

  &.is-active, &.is-completed
    .material-label
      padding-left 0

  &.is-active .material-label
    color $blue

  &.is-completed .material-label
    transform translateY(0)

.material-label
  transform translateY(25px)
  color #525876
  transition all 0.3s
  padding-left 1.1em

.material-input
  border none
  position relative
  background transparent
  padding 0.8em 0
// END MATERIAL STYLES

.site-input
  display block
  width 100%

.inputs-row
  display flex
  justify-content space-between
  flex-wrap wrap

  .input-wrapper
    flex-basis 48.33%

.input-wrapper
  text-align left
  width 100%

.input-label
  display block

.site-input
  width 100%
  outline none

.site-button
  color white
  cursor pointer
  background $blue
  border-radius 3px
  outline none
  border none
  transition background 0.2s
  text-transform uppercase
  padding 1.1em
  display inline-block
  font-weight $bold

  &:active,
  &:hover,
  &:focus
    background lightness($blue, 40%)

.section-title
  color #525876
  font-size remify(18)
  letter-spacing remify(0.6)
  text-align center
  text-transform uppercase
  font-weight $bold

.main-title
  margin-top remify(78.5)

@import 'partials/navbar'

@import 'partials/footer'