@font-face
  font-family 'LucidaGrande'
  font-style normal
  font-weight $regular
  src local('LucidaGrande'),
    local('LucidaGrande Regular'),
    local('LucidaGrande-Regular'),
    url('../fonts/LucidaGrande-Regular.ttf') format('ttf'),
    url('../fonts/LucidaGrande-Regular.woff') format('woff'),
    url('../fonts/LucidaGrande-Regular.woff2') format('woff2')

@font-face
  font-family 'LucidaGrande'
  font-style normal
  font-weight $bold
  src local('LucidaGrande'),
    local('LucidaGrande Bold'),
    local('LucidaGrande-Bold'),
    url('../fonts/LucidaGrande-Bold.ttf') format('ttf'),
    url('../fonts/LucidaGrande-Bold.woff') format('woff'),
    url('../fonts/LucidaGrande-Bold.woff2') format('woff2')

@font-face
  font-family 'PierSans'
  font-style normal
  font-weight $regular
  src local('PierSans'),
    local('PierSans Regular'),
    local('PierSans-Regular'),
    url('../fonts/PierSans-Regular.otf') format('otf'),
    url('../fonts/PierSans-Regular.woff') format('woff'),
    url('../fonts/PierSans-Regular.woff2') format('woff2')

@font-face
  font-family 'PierSans'
  font-style italic
  font-weight $bold
  src local('PierSans'),
    local('PierSans Bold Italic'),
    local('PierSans-Bold-Italic'),
    url('../fonts/PierSans-Bold-Italic.otf') format('otf'),
    url('../fonts/PierSans-Bold-Italic.woff') format('woff'),
    url('../fonts/PierSans-Bold-Italic.woff2') format('woff2')